*/test*.rst*
*/test*.pdb
*/test*.prm*
*/*/test*.rst*
*/*/test*.pdb
*/*/test*.prm*
*/test*.gro*
*/*/test*.gro*
*/test*.g87
*/*/test*.g87
*/test*.top
*/*/test*.top
*/test.mo*
*/*/test.mo*
*/test*.s3
*/*/test*.s3
*/tmp*.s3
*/*/tmp*.s3

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Byte-compiled / optimized / DLL files.
__pycache__/
*.py[cod]

# macOS folder attributes.
.DS_Store
